<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Добавить футболиста</h1>
    <form action="/add" method="post" id="footballer-info">
        <input type="text" name="lastName" id="lastName" placeholder="Фамилия футболиста" required>
        <input type="text" name="name" id="name" placeholder="Имя футболиста" required>
        <input type="text" name="secondName" id="secondName" placeholder="Отчество футболиста">
        <input type="date" name="birthdate" id="birthdate" required>
        <select name="country" id="country" form="footballer-info" required>
            <option selected disabled></option>
            <option th:each="country : ${countries}" th:text="${country.getName()}" th:value="${country.getName()}"></option>
        </select>
<!--        <select name="club" id="club" form="footballer-info">-->
<!--            <option th:each="club : ${clubs}" th:text="${club.getName()}" th:value="${club.getName()}"></option>-->
<!--        </select>-->
        <div class="search">
            <input type="text" id="club" name="club" required>
            <div class="search-list-block">
                <select id="search-list">
                    <option selected disabled></option>
                    <option th:each="club : ${clubs}" th:text="${club.getName()}" th:value="${club.getName()}">Russia</option>

                </select>
            </div>
        </div>
        <input type="submit" id="submit-button" th:value="Добавить">
        <a href="/" class="add-link">Назад к списку</a>
    </form>

</body>
<script th:inline="javascript">
    var selectedClub = null;
    var selectedCountry = null;

</script>
<script src="/dd-club.js"></script>

</html>