<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/style.css">
</head>

<body>
<h1>Список футболистов</h1>
<table cellspacing="0">
    <tr>
        <th>Имя</th>
        <th>Фамилия</th>
        <th>Отчество</th>
        <th>Дата рождения</th>
        <th>Страна</th>
        <th>Клуб</th>
        <th>Пол</th>
        <th></th>
    </tr>
    <tr th:each="footballer : ${footballers}" th:attr="onclick='window.location.href = \'/edit/' + ${footballer.id} + '\''">
        <td th:text="${footballer.lastName}">Фамилия</td>
        <td th:text="${footballer.name}">Имя</td>
        <td th:text="${footballer.secondName}">Отчество</td>
        <td th:text="${footballer.birthdate}">Дата рождения</td>
        <td th:text="${footballer.country}">Страна</td>
        <td th:text="${footballer.club}">Клуб</td>
        <td th:text="${footballer.gender}">Пол</td>
        <td><button th:attr="onclick='window.location.href = \'/edit/' + ${footballer.id} + '\''">Изменить</button></td>
    </tr>
</table>
<div class="pagination-block">
    <div th:if="${pageCount > 1}" class="pagination"
         th:each="i: ${#numbers.sequence(0, pageCount-1)}" th:classappend="${i==curPage} ? active">
        <a th:href="@{/(limit=${limit}, offset=${i})}"
           th:text="${i+1}"

        ></a>
    </div>
</div>

<a href="/add" th:class="add-link">Добавить футболиста</a>

</body>
</html>